.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-logo {
  font-size: 50px;
  font-weight: 800;
  color: #7ebd01;
  margin-bottom: 10px;
}
.login-desc {
  font-size: 24px;
  color: #2b3022;
}
.login-form {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.login-input:focus,
.login-btn:focus {
  outline: none;
}

.login-btn {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #7ebd01;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.login-forgot {
  text-align: center;
  color: #7ebd01;
}
.login-register {
  width: 80%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #a7ada6;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
