.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-wrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.register-left,
.register-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-logo {
  font-size: 50px;
  font-weight: 800;
  color: #7ebd01;
  margin-bottom: 10px;
}
.register-desc {
  font-size: 24px;
  color: #2b3022;
}
.register-form {
  height: 700px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.register-input:focus,
.register-btn:focus {
  outline: none;
}

.register-btn {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #7ebd01;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.register-loginbtn {
  width: 80%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #a7ada6;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
}
.avatar-label {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
