.messenger {
  height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.chat-menu {
  flex: 3;
}

.chat-menu-title {
  width: 90%;
  padding: 10px 0;
  border-bottom: 1px solid grey;
  color: #7ebd01;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: default;
}

.chat-box {
  flex: 6;
}

.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-box-top {
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
}

.chat-box-bottom {
  margin-top: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-message-input {
  width: 80%;
  height: 90px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgb(179, 179, 179);
}
.chat-submit-button,
.add-contact-button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background-color: #7ebd01;
  color: white;
  cursor: pointer;
}

.add-contact-button {
  width: 130px;
  font-weight: 600;
}

.chat-contact {
  flex: 3;
}

.chat-menu-wrapper,
.chat-box-wrapper,
.chat-contact-wrapper {
  padding: 10px;
  height: 100%;
}

.chat-contact-wrapper {
  position: relative;
}

.contact-modal-wrapper {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.no-conv-text {
  position: absolute;
  top: 20%;
  font-size: 50px;
  color: rgb(220, 220, 220);
  text-align: center;
  cursor: default;
}

