.contact-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.contact-item-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
