.new-contact-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(54, 54, 54, 0.548);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 20px;
  padding: 10px 50px;
  position: relative;
}
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7ebd01;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.search-wrapper {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.search-input {
  border: none;
  margin-left: 10px;
  flex: 1;
}

.search-input:focus {
  outline: none;
}

.result-wrapper {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.add-btn {
  margin-top: 10px;
  margin-left: 25px;
  cursor: pointer;
}
.add-btn:hover {
  color: #7ebd01;
}
