.navbar {
  height: 60px;
  background-color: white;
  padding: 0 1rem;
  border-bottom: 1px solid #474a4d;
  position: sticky;
  z-index: 990;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo {
  font-size: 30px;
  font-weight: 800;
  color: #7ebd01;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #7ebd01;
  text-decoration: none;
}

.avatar-img {
  width: 35px;
  height: 35px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  cursor: pointer;
  margin-right: 20px;
}

.avatar-img:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #474a4d;
  transition: height 500ms ease;
}
.menu-item {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 0.5rem;
  justify-content: space-between;
}

.menu-item:hover {
  background-color: #cacaca;
}

.input {
  margin: 0.2rem 0.5rem;
  width: 90%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: background 500ms;
}

.picture-label {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.profile-update-submit-btn {
  position: absolute;
  right: 15px;
  margin: 10px 0px;
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  background-color: #7ebd01;
  color: white;
  cursor: pointer;
}

.menu {
  width: 100%;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}
