.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.message-top {
  display: flex;
  align-items: flex-start;
}

.message:not(own) .message-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message-text {
  margin: 0;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: #7ebd01;
  color: white;
  max-width: 400px;
}

.message-bottom {
  font-size: 12px;
  margin-top: 8px;
}

.message.own {
  align-items: flex-end;
}
.message.own .message-img {
  margin-left: 10px;
  margin-right: 0;
}
.message.own .message-text {
  background-color: rgb(235, 235, 235);
  color: black;
}
